a{
    text-decoration: none;
    
}

a:hover{

    /* font-style: oblique; */
    font-weight: 100;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
    
    
}

.navbar{
    background-color:  rgb(40, 40, 40);
    

}
.container-fluid{
    background-color:  rgb(40, 40, 40);
}

#btn{
    background-color: rgb(81, 226, 19);
}

#footer{
    display: flex;
    
}

ul{
    list-style: none;
}

@media screen and (max-width: 250px) {
    .list-group-item {
        padding: 5px 10px; 
        font-size: 8px; 
      }

      .accordion-button {
        font-size: 8px; 
        padding: 5px 10px; 
      }

      .accordion-collapse {
        padding: 10px; 
        font-size: 8px;
      }
      h3{
        font-size: 8px;
      }
      h1{
        font-size: 10px;
      }
   
  
  }

#con:hover{
    color: rgb(226, 237, 11);
}




  






